<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= TITLE %></title>
<!--  <script async  src="es-module-shims.js"></script>-->


      <!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://cdn.jsdelivr.net/npm/vant@next/lib/index.css"-->
<!--    />-->
<!--    <link rel="stylesheet" href="./fFace.css">-->
<!--      <link href="/wangEditor.css" rel="stylesheet">-->

    <script src="/twig.min.js"></script>
   <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<!--    <script src="/pinyin_dict_withtone.js"></script>-->
<!--    <script src="/pinyin_dict_polyphone.js"></script>-->
<!--    <script id="MathJax-script" async src="mathjax/tex-chtml.js"></script>-->
<!--    <script src="pinyin_dict_firstletter.js"></script>-->
<!--    <script src="pinyin_dict_notone.js"></script>-->
    <style>
      :root {
          --z-emoji-zoom: 0.7;
      }
    </style>
  </head>
  <body>
  <script>
    ;(function () {
      function isElectron(parent) {
        return  globalThis.require
        // let window = parent.window;
        // let process = parent.process;
        // let navigator = parent.navigator;
        // // Renderer process
        // // eslint-disable-next-line no-undef
        // if (typeof window !== 'undefined' && typeof window.process === 'object' && window.process.type === 'renderer') {
        //   return true;
        // }
        //
        // // Main process
        // if (typeof process !== 'undefined' && typeof process.versions === 'object' && !!process.versions.electron) {
        //   return true;
        // }
        //
        // // Detect the user agent when the `nodeIntegration` option is set to true
        // // eslint-disable-next-line no-undef
        // if (typeof navigator === 'object' && typeof navigator.userAgent === 'string' && navigator.userAgent.indexOf('Electron') >= 0) {
        //   return true;
        // }
        //
        // return false;
      }
      globalThis.IS_PARENT_ELECTRON = false
      if (isElectron(parent)) {
        globalThis.IS_PARENT_ELECTRON  = true
      }
    })();
  </script>

  [[[src/htmls/apptpl.ejs]]]

  [[[src/htmls/output-templates.html]]]

  [[[src/htmls/template.html]]]

  [[[src/htmls/cmfield.twig]]]

<script>
  {
    const COMMON_EVAL_FUNS = {
      时间间隔(date1, date2) {
        /**
         * @param date1 {Date|string (Date format)}
         * @param date2 {Date|string (Date format)}
         * @returns {null|*}
         */
        if (date1 && date2) {
          return ZY.Time.subtract2Date(date1, date2).asHours()
        }
        return null
      },
      取整(v, presion) {
        /**
         * @param v
         * @param presion
         * @returns {string|*}
         */
        let ret = ZY.lodash.floor(v, presion)
        // if (ret === 0) {
        //   return ''
        // }
        return ret
      }
    }
    if (typeof  window.COM_FORM_COMMON_EVAL_FUNS === 'undefined') {
      window.COM_FORM_COMMON_EVAL_FUNS = COMMON_EVAL_FUNS
    }

  }

  class ZEmoji extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({mode: 'open'});
    }

    static get observedAttributes() {
      return ['face', 'zoom'];
    }

    render() {

      let style = `<style>


:host {
  --emoji-width: 30px;
  --emoji-height: 30px;
  --emoji-zoom: var(--z-emoji-zoom, 1);
  position: relative;
  display: inline-block;
  width: calc(var(--emoji-width) * var(--emoji-zoom));
  height: calc(var(--emoji-height) * var(--emoji-zoom));
}

.s_face {
    width: 30px;
    height: 30px;
    background: transparent url(./fFace.png) no-repeat scroll left top;
    position: absolute;
    zoom: var(--emoji-zoom, 1);
}

.s_face[face="fuck"] {
    display: inline-block;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    background-position: left -300px;
    background-size: 100%;
}

</style>`

      function getZOOM(s) {
        let v =  parseFloat(s )
        if (Number.isNaN(v)) {
          return undefined
        }
        return v
      }


      let face = this.getAttribute('face')
      let zoom = getZOOM(this.getAttribute('zoom'))
      if (typeof zoom !== 'undefined') {
        let size = [30 * zoom, 30 * zoom]
        this.style.width = size[0] + 'px'
        this.style.height = size[1] + 'px'
        this.shadowRoot.innerHTML = `${style}<a face="${face}"
style="zoom: ${zoom}" class="s_face">&nbsp;</a>`
      } else {
        this.shadowRoot.innerHTML = `${style}<a face="${face}"
 class="s_face">&nbsp;</a>`
      }


    }

    attributeChangedCallback(name, oldValue, newValue) {
      // console.log(name, oldValue, newValue)
      this.render()
    }
  }

  window.customElements.define('z-emoji', ZEmoji);
</script>
<template id="bserviceTpl">
  <script>
    import { baseServiceDef, baseServiceMixin } from '[REMOTE]/baseService.js';

    export function install(vue) {
      // const ZY = global.ZY;
      return {
        template: '<div></div>',
        mixins: [
          baseServiceMixin,
        ],
        setup(props, ctx) {
          const config = ZY.JSON5.parse(`{$SELF_NAME:'ServicePage'}`);
          return baseServiceDef({ props, ctx, vue, config });
        },
      };
    }
  </script>
</template>
  <script id="formTpl" type="text/html">
    <div class="http-com comformscr2">
      {% verbatim %}{{ {% endverbatim %} parts {% verbatim %} }} {% endverbatim %}
      {% for part in CONFIG.parts %}
      {% set partConfigKey = 'config.parts[' ~ loop.index0 ~ '].def' %}
      {% set pathKey = "parts." ~ part.name %}
      {% set pathSKey = "'parts." ~ part.name ~ "'" %}
      {% set modelKey = pathKey ~ ".model"  %}
      {% if part.type == 'form' %}
      <view class="z-form http-com-part http-com-part__{{ part.name }}"
               ref="comformscr2__{{ part.name }}" :model="{{ pathKey }}.model"
      >
        {{ partStr[part.name] }}
        <slot-com :defs="slotContent" :attrs="{parts}"
                  :binds="{name: '{{ part.name }}', ctx: exportCtx,  partName: '{{ part.name }}', parts, process: '{{ CONFIG.process}}' }"
                  name="form_afterend"></slot-com>
      </view>
      {% endif %}
      {% endfor %}
    </div>
  </script>
    <div id="app"></div>

    <div id="storeApp"></div>
    <div id="endofbody" style="position: fixed; left: 150px; bottom: 0; z-index: 111;"></div>
  <!-- 引入 js -->
  <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js" async defer></script>
<!--  <script src="https://cdn.bootcdn.net/ajax/libs/jszip/3.6.0/jszip.min.js" async defer></script>-->
  <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"  async defer></script>

  <script type="module" src="/src/main.js"></script>
  <script type="module">
    setTimeout(() => {
      globalThis.importScripts('https://cdn.bootcdn.net/ajax/libs/jszip/3.6.0/jszip.min.js')
    }, 300)
  </script>
  </body>
</html>
