@use "sass:math";

@mixin init-plumb-layout() {
  width: 100%;
  --plumb-con-height:  var(--plumb-height, 600px);
  height: var(--plumb-con-height);
  border: 1px solid #eee;
  @at-root {
    :root {
      --plumb-con-width: 220px;
    }
  }

  .item {
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--el-color-info-light);
    &:last-child {
      border-bottom-color: transparent;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .container {
    position: absolute;
  }
  .abs {
    position: absolute;
  }
  .section {
    border: 1px solid var(--el-color-primary);
    background-color: #ffffff;
    z-index: 0;
    //z-index: 1;
    width: var(--plumb-con-width);
  }

  //$leftTotal: 0;
  //$topTotal: 0;
  &.auto-init-layout {
    $len: 10;
    //$half: 5;
    @for $i from 1  through $len {
      $index: $i - 1;
      .section:nth-child(#{$i}) {
        left: calc(var(--plumb-con-width) * #{$index});
      }
      .section:nth-child(#{$i}) {
        //  $lbase: math.max(100, math.random(150)) + 0px;
        //$tbase: math.max(50, math.random(80)) + 0px;
        //top: $tbase * $index;
      }
    }
  }
  @content;
}
